{% extends '_base.html' %}
{% block body %}
<div class="container">
  <div class="content">
    <ul>
      {% for entry, entry_link, parsed_entry in entry_links %}
      <li>
        {% if parsed_entry.is_starred %}
        <i class="fas fa-star" style="color: gold"></i>
        {% endif %}
        <a href="{{ entry_link }}">{{  entry  }}</a>

        {% for tag in parsed_entry.html_tags() %}
        {{ tag|safe }}
        {% endfor %}
        <!-- {{ parsed_entry.html_word_count(rounded=True)|safe }} -->

      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock body %}
