{% extends '_base.html' %}
{% block body %}
<div class="section" style="margin-top: 1em">
  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Entries</p>
        <p class="title">{{ num_entries }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Words</p>
        <p class="title">{{ num_words }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Tags</p>
        <p class="title">{{ num_tags }}</p>
      </div>
    </div>
  </nav>
</div>

<div class="section">
  <div class="container">
    <h1 class="title is-5">Tag Counts</h1>
    {% for tag in tag_stats %}
    {{ tag|safe }}
    {% endfor %}
  </div>
</div>
{% endblock body %}
