<section class="hero is-light">

  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="/stats">
              Stats
            </a>
            <a class="navbar-item" href="/">
              Home
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-grey-dark">
        <a href="/">Eric's Journal</a>
      </h1>
      <h2 class="subtitle has-text-grey">
        Powered by jrnl.
      </h2>
    </div>
  </div>

</section>
